+++
title = "MocaccinoOS"
linkTitle = "MocaccinoOS"

+++

{{< blocks/cover title="MocaccinoOS" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/mocaccinoOS/mocaccino/releases">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">MocaccinoOS is a minimal Linux meta-distribution for the 21st century! </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

Beyond Gentoo.

MocaccinoOS uses [Luet](https://luet-lab.github.io/docs) as a package manager, which is completely static and fully based on containers. It comes in two variants:

* Mocaccino Micro: Musl-based Linux From Scratch using only [Luet](https://luet-lab.github.io/docs). Suited for cloud and containers, but more to come as a Desktop flavor.
* Mocaccino Desktop: Gentoo-based (former Sabayon branch) suited for Desktop environments. 

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="No frills" %}}

MocaccinoOS uses a layered approach for system and common packages: smoother upgrades so you can focus on the things that really matter.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/MocaccinoOS" %}}
MocaccinoOS is a work-in-progress. [Stop over by our GitHub Organization](https://github.com/MocaccinoOS). New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Get in touch on Slack!" url="https://join.slack.com/t/luet/shared_invite/enQtOTQxMjcyNDQ0MDUxLWQ5ODVlNTI1MTYzNDRkYzkyYmM1YWE5YjM0NTliNDEzNmQwMTkxNDRhNDIzM2Y5NDBlOTZjZTYxYWQyNDE4YzY" %}}
For discussions, announcements, etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
{{< column>}}
<h1 class="text-center">Upgrading is no longer a nightmare</h1>
<center>
	<h3>You can just focus on your <span id='work'>work</span> from now on</h3>
<script>
	var text = [ "game", "website", "music player", "ide"];
var counter = 0;
var elem = $("#work");
setInterval(change, 3000);
function change() {
    elem.fadeOut(function(){
        elem.html(text[counter]);
        counter++;
        if(counter >= text.length) { counter = 0; }
        elem.fadeIn();
    });
}
</script>
</center>

{{< row >}}

{{< column>}}
{{< term name="upgrade" delay="10">}}
<span data-ty="input"> luet upgrade -y </span>
<span data-ty data-ty-delay="250">⠖  Downloaded repository.yaml of 0.00 MB ( 0.00 MiB/s )</span>
<span data-ty data-ty-delay="250">	Repository mocaccino-repository-index is already up to date.</span>
<span data-ty data-ty-delay="250">	ℹ Repository: mocaccino-repository-index Priority: 1 Type: http</span>
<span data-ty data-ty-delay="250">  ⠦  Downloaded repository.yaml of 0.00 MB ( 0.00 MiB/s )</span>
<span data-ty data-ty-delay="250">	Repository luet-official is already up to date.</span>
<span data-ty data-ty-delay="250">	ℹ Repository: luet Priority: 1 Type: http</span>
<span data-ty data-ty-delay="250">   ⠐  Downloaded repository.yaml of 0.00 MB ( 0.00 MiB/s )</span>
<span data-ty data-ty-delay="250">	Repository mocaccino-extra is already up to date.</span>
<span data-ty data-ty-delay="250">	ℹ Repository: mocaccino-extra-stable Priority: 2 Type: http</span>
<span data-ty data-ty-delay="250">   ⠉  Downloaded repository.yaml of 0.00 MB ( 0.00 MiB/s )</span>
<span data-ty data-ty-delay="250">	Repository mocaccino-extra is already up to date.</span>
<span data-ty data-ty-delay="250">   ⠈  ℹ Repository: mocaccino-extra Priority: 2 Type: http</span>
<span data-ty data-ty-delay="250">   ⠋  Downloaded repository.yaml of 0.00 MB ( 0.00 MiB/s )</span>
<span data-ty data-ty-delay="250">	Repository mocaccino-repository-index is already up to date.</span>
<span data-ty data-ty-delay="250">	ℹ Repository: mocaccino-repository-index Priority: 1 Type: http</span>
<span data-ty data-ty-delay="250">	🤔  Computing upgrade, please hang tight... 💤 	</span>


{{< /term >}}
{{< /column>}}
{{< column>}}
<p></p>
<center><h3>
Focus on the things that matter. 
</h3></center>
<p class="lead mt-5">
MocaccinoOS Desktop uses a layered approach. <br>
Most common system packages and desktop environments (DE) are packaged as single installable layers, along with libraries. <br>
The system set is only composed by 2 core layers<br><br>
Completely out of sight ! <br>
</p>
<p class="lead mt-5">
MocaccinoOS Micro is a LFS Musl OS based not on layers, but on a tiny core package set, suitable for cloud and embedded environment. <br> Easy to build packages on. <br>
</p>
{{< /column>}}
{{< /row >}}
{{< /column>}}

{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fa-truck" title="Static package manager" %}}
Versioned rootfs as layers, delivered as upgrades or multiple single packages. You can choose the format you like. Musl? Server variant? We've got you covered.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-heartbeat" title="Layers" %}}
Static package manager, your system will always be recoverable!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-magic" title="Build your packages" %}}
Thanks to the Docker-based package manager, building and sharing packages has never been so easy!
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
<div class="col">
<h1 class="text-center">Customize your experience</h1>
<center>A declarative suite of tools to set your box in the cloud or in a server environment</center>
</div>

{{< /blocks/section  >}}

{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-truck" title="Luet" %}}
[luet](https://github.com/mudler/luet) is a small-footprint static Golang package manager. It uses SAT and RL approaches to solve package dependencies.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-wrench" title="Yip" %}}
[yip](https://github.com/mudler/yip) is a small-footprint distro-agnostic cloud-init style tool. Statically built which executes and sets Linux system configurations.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lock" title="Declarative user management" %}}
With [entities](https://github.com/mudler/entities), users and groups in your systems are formally declared and can be carried over to other systems easily.
{{% /blocks/feature %}}

{{< /blocks/section >}}
