+++
title = "MocaccinoOS"
linkTitle = "MocaccinoOS"

+++

{{< blocks/cover title="MocaccinoOS" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://get.mocaccino.org/minio/mocaccino-iso">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">MocaccinoOS is a minimal Linux meta-Distribution. Beyond Gentoo. Beyond Sabayon. </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
MocaccinoOS uses [Luet](https://luet-lab.github.io/docs) as Package Manager which is completely static and fully based on containers, and comes with two variants:

* Mocaccino Micro: Musl-based Linux From Scratch using only [Luet](https://luet-lab.github.io/docs). Suited for cloud and containers, but more to come as a Desktop flavor.
* Mocaccino Portage: Gentoo-based (former Sabayon branch) suited for Desktop environments

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="No frills" %}}

MocaccinoOS uses a layered approach for system and common packages: smoother upgrades so you can focus on the things that really matters.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/MocaccinoOS" %}}
MocaccinoOS is a Work in progress, [step over by our GitHub Organization](https://github.com/MocaccinoOS). New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Get in touch on Slack!" url="https://join.slack.com/t/luet/shared_invite/enQtOTQxMjcyNDQ0MDUxLWQ5ODVlNTI1MTYzNDRkYzkyYmM1YWE5YjM0NTliNDEzNmQwMTkxNDRhNDIzM2Y5NDBlOTZjZTYxYWQyNDE4YzY" %}}
For discussions, announcements, etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
<div class="col">
<h1 class="text-center">Upgrading is not anymore a nightmare</h1>
<center>You can just focus on your stable system from now on
</center>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fa-truck" title="Static package manager" %}}
Versioned rootfs as layers, delivered as upgrades or multiple single packages. You can choose the format you like. Musl? Server variant ? we get you covered
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-heartbeat" title="Layers" %}}
Static package manager, your system will always be recoverable!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-magic" title="Build your packages" %}}
Thanks to the Docker-based package manager, building and sharing packages has never been so easy!
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
<div class="col">
<h1 class="text-center">Customize your experience</h1>
<center>A declarative suite of tools to set your box in the Cloud or in a Server environment</center>
</div>

{{< /blocks/section  >}}

{{< blocks/section color="primary" >}}


{{% blocks/feature icon="fa-magic" title="lxd-compose" %}}
[lxd-compose](https://github.com/MottainaiCI/lxd-compose) like docker-compose, but for lxd!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-recycle" title="simplestreams-builder" %}}
[simplestreams-builder](https://github.com/MottainaiCI/simplestreams-builder) simplifies the process for creating the files and directories tree for exposing LXC/LXD images over simplestreams protocol
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lock" title="Declarative user management" %}}
With [entities](https://github.com/mudler/entities) users and groups in your systems are formally declared and can be carried over system easily
{{% /blocks/feature %}}



{{< /blocks/section >}}


{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-wrench" title="Yip" %}}
[yip](https://github.com/mudler/yip) is a small-footprint distro-agnostic cloud-init style tool. Statically built which executes and sets Linux system configurations.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-user-cog" title="Charty" %}}
[charty](https://github.com/mudler/charty) is a small-footprint templated test-runner. We use it to run QA checks against our packages!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-truck" title="Luet" %}}
[luet](https://github.com/mudler/luet) is a small-footprint static Golang package manager. It uses SAT and RL approaches to solve package dependencies.
{{% /blocks/feature %}}


{{< /blocks/section >}}